#pictures-box {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#pictures {
    left: 0;
    right: 0;
    display: flex;
    position: absolute;
    width: 500%;
    height: inherit;
    transition: right 1s ease-in-out, left 1s ease-in-out;
}

.picture {
    display: inline-block;
    width: 20%;
    height: inherit;
    text-align: center;
}

.picture > img {
    width: 825px;
    height: 550px;
    border-radius: 3px;
}

.picture > h3 {
    padding: 5px 0;
    font-size: 24px;
}

.scroll-botton {
    position: absolute;
    top: 250px;
    cursor: pointer;
    padding: 25px 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border: 1px solid rgba(204, 224, 255, 0.6);
    border-radius: 3px;
}

#to-right {
    left: 20px;
}

#to-left{
    right: 20px;
}

@media (max-width: 620px) {
    .picture > img {
        width: 412px;
        height: 275px;
        border-radius: 3px;
    }

    .scroll-botton{
        top: 115px;
        border: 2px solid rgba(204, 224, 255, 0.6);
    }
}